# URL của backend API dùng để AuthZ và ghi Log
API_BASE_URL=https://qc-productivity-tracker.vercel.app

# URL của Vercel (nơi host file userscript)
HOST_BASE_URL=https://qc-productivity-tracker.vercel.app

AUTH_SECRET=secure-default-secret-key-replace-me-in-prod

SUPABASE_URL=https://smqaxdktzfvznqsogglh.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNtcWF4ZGt0emZ2em5xc29nZ2xoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwOTg1MzksImV4cCI6MjA5OTY3NDUzOX0.IHcojSf1IMi0Oc8bgYUs2KMvLGLU98HVLtiUwx8DXlo